{
  "openapi": "3.0.3",
  "info": {
    "title": "Hotel TV Licensing API",
    "description": "API to look up hotel information including room counts, official websites, and contact phone numbers.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hotelapi-app.orangeflower-3dda66b0.swedencentral.azurecontainerapps.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/hotel/lookup": {
      "post": {
        "operationId": "lookupHotelInformation",
        "summary": "Look up hotel information",
        "description": "Searches for a hotel's official website, UK contact phone number, and room count. Provide the hotel name and optionally the address for better accuracy. Note: This may take 10-30 seconds to complete.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the hotel to look up"
                  },
                  "address": {
                    "type": "string",
                    "description": "The address of the hotel to help with disambiguation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved hotel information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "search_name": {
                      "type": "string",
                      "description": "The hotel name that was searched"
                    },
                    "search_address": {
                      "type": "string",
                      "description": "The address that was provided"
                    },
                    "official_website": {
                      "type": "string",
                      "description": "The hotel's official website URL"
                    },
                    "uk_contact_phone": {
                      "type": "string",
                      "description": "The hotel's UK contact phone number"
                    },
                    "rooms_min": {
                      "type": "integer",
                      "description": "Minimum number of rooms"
                    },
                    "rooms_max": {
                      "type": "integer",
                      "description": "Maximum number of rooms"
                    },
                    "rooms_source_notes": {
                      "type": "string",
                      "description": "Notes about where the room count was found"
                    },
                    "website_source_url": {
                      "type": "string",
                      "description": "The URL where the website information was found"
                    },
                    "phone_source_url": {
                      "type": "string",
                      "description": "The URL where the phone number was found"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["success", "partial", "not_found", "error"],
                      "description": "The status of the lookup"
                    },
                    "last_checked": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When this lookup was performed"
                    },
                    "confidence_score": {
                      "type": "number",
                      "description": "Confidence score from 0.0 to 1.0"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Any errors encountered during the lookup"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "checkHealth",
        "summary": "Health check endpoint",
        "description": "Returns the health status of the API",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "ai_provider": {
                      "type": "string",
                      "description": "The AI provider being used"
                    },
                    "search_provider": {
                      "type": "string",
                      "description": "The search provider being used (Bing Grounding or SerpAPI/DuckDuckGo)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
